body {
  position: relative;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #EAEAEA !important;
  /* background-image: url(/src/assets/light-background.png);
  background-size: cover; */
  /* basfkground-position: ; */
  
  /* background-image: url('./assets/light-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%; */
}





.card {
  box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  border-bottom: 0.08rem solid #D7D5DB !important;
}

.card img{
  height: 9rem;
}


/* MoreInfo */
.headForCard {
  font-size: 1.1rem !important; 
}

.myCard {
  margin-top: -33.5rem !important;
  border-bottom-width: 0px !important;
  margin-left: 22.5rem !important;
  margin-right: 32rem !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  padding-left: 1.7rem !important;
  padding-right: 1.7rem !important;
  background-color: #F6F6F6 !important;
  width: 34rem;
}

.myCard1 {
  margin-top: 1.5rem !important;
  border-bottom-width: 0px !important;
  margin-left: 60rem !important;
  margin-right: 3.5rem !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  padding-left: 1.7rem !important;
  padding-right: 1.7rem !important;
  background-color: #F6F6F6 !important;
  width: 26.7rem;
}

.myCard1 img {
  width: 20.9rem;
  height: 8rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
/* 
.myCard1 .card-body{
  padding-bottom: 0rem;
} */

.customPForBuilding {
  margin-top: 0.7rem;
  margin-bottom: 0.2rem;
}

.customPForBuilding1 {
  margin-left: 11rem;
  margin-top: -1.4rem;
  margin-bottom: 0.2rem;
}

.customPForBuilding2 {
  margin-left: 14.7rem;
  margin-top: -1.4rem;
  margin-bottom: 0.2rem;
}


.customForDisable0 textarea{
  width: 9.9rem;
  font-family: 'Bariol Regular' ;
  height: 1.9rem;
  border-radius: 5; 
  color: rgba(0, 0, 0);
  padding-left: 0.5rem;
  background-color: #EAEAEA;
  border-color: #EAEAEA;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8rem;
  resize: none;
}

.customForDisable1 textarea{
  width: 13.5rem;
  font-family: 'Bariol Regular' ;
  height: 1.9rem;
  border-radius: 5; 
  color: rgba(0, 0, 0);
  padding-left: 0.5rem;
  background-color: #EAEAEA;
  border-color: #EAEAEA;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8rem;
  resize: none;
  
}

.customForDisable2{
  width: 28.2rem !important;
  font-family: 'Bariol Regular' ;
  height: 4.7rem;
  border-radius: 5; 
  color: rgba(0, 0, 0);
  padding-left: 0.5rem;
  background-color: #EAEAEA;
  border-color: #EAEAEA;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  
  overflow: scroll;
  /* resize: none; */
}
.customForDisable2 p{
  margin-bottom: 0.1rem !important; 
  margin-top: 0.2rem !important; 
  font-size: 0.8rem;
  color: #545454;
}


.customForDisable3 textarea{
  width: 28.2rem !important;
  font-family: 'Bariol Regular' ;
  height: 4.7rem;
  border-radius: 5; 
  color: rgba(0, 0, 0);
  padding-left: 0.5rem;
  background-color: #EAEAEA;
  border-color: #EAEAEA;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8rem;
  resize: none;
  overflow: scroll;
  
}

.customPosition {
  margin-left: 11rem;
  margin-top: -2.3rem;
}

.customPosition1  {
  margin-left: 14.7rem;
  margin-top: -2.3rem;
}

.rowW {
  margin-top: -0.5rem;
}

/* Logout Modal */

.logout-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: rgba(10,10,10,0.45);
  
}

/* .logout-modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 0.5;
  z-index: -1;
} */

.logout-modalContainer {
  width: 23rem;
  /* height: 14rem; */
  border-radius: 12px;
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.logout-modalContainer .title {
  display: inline-block;
  /* text-align: center; */
  font-size: 1.4rem;
  font-family: 'Bariol Serif Bold';
  margin-top: -1rem;
}

.logout-modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.logout-modalContainer .footer {
  /* flex: 20%; */
  /* display: flex; */
  margin-top: 0.5rem;
  align-self: right;
  margin-left: 4.5rem;
  
  /* justify-content: right !important; */
  /* align-items: center; */
}

.logout-modalContainer .footer button {

  border: none;
  border-radius: 5px;
  background-color: #CB002B !important;
  /* margin: 10px;
  cursor: pointer;
  position: relative;
  font-size: 0.7rem;
  background-color: #CB002B !important;
  color: #FFFFFF !important;
  border: none;
  border-radius: 5px;

  margin-top: 1rem;
  font-family: 'Bariol Regular';
  font-size: 0.9rem;
 
  padding: -11px 16px; */
}

#cancelLogOut {
  background-color: #F2F2F2 !important;
  color: #383738 !important;
}
.btn{
  box-shadow: none !important;
  width: 6.5rem !important;
  height: 2.1rem !important;
  font-size: 0.8rem !important;
  text-transform: capitalize !important;
}





/* Sidebar section */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 19rem;
  background: #FFFFFF;
  /* padding-top: 2rem; */
  padding-right: 2rem;
  padding-left: 1.5rem;
  transition: all 0.5 ease;
}

.sidebar.active{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 4rem;
  background: #FFFFFF;
  /* padding-top: 2rem; */
  padding-right: 4rem;
  padding-left: 1rem;
  transition: all 0.5 ease;
}

.sidebar .logo_content .logo{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  pointer-events: auto;
  opacity: 1;
}

.sidebar.active .logo_content .logo {
  display: flex;
  align-items: center;
  padding-top: 1 rem;
  opacity: 0;
  pointer-events: none;
}



.sidebar .menu{
  position: absolute;
  color: #383738;
  left: 85%;
  top: 2rem;
  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 50px;
  transform: translate(-50%);
}

.sidebar .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar.active .links_name{
  opacity: 0;
  pointer-events: none;
} 

.sidebar .menu.active {
  left: 50%;
} 

.sidebar ul{
  margin-top: 2rem;
  padding-left: 0px;
}


.sidebar ul li{
  position: relative;
  height: 3.7rem;
  width: 100%;
  list-style: none;
  line-height: 3.7rem;
  border-radius: 0.6rem;

}


.sidebar ul li a{
  color: #383738;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all .4s ease;
  /* Font Size of Menu */
  font-size: 1.05rem;
  white-space: nowrap;
}

/* .sidebar ul li button{
  color: #383738;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all .4s ease;

  font-size: 1.05rem;
  white-space: nowrap;
} */

.sidebar ul li a:hover{
  color: #383738 ;
  background: #EAEAEA ;
  border-radius: 0.6rem;
}
/* 
.sidebar ul li button:hover{
  color: #383738 ;
  background: #EAEAEA ;
  border-radius: 0.6rem;
} */

.sidebar ul li a i{
  min-width: 3rem;
  border-radius: 0.6rem;
  line-height: 3rem;
  text-align: center;
  font-size:  1.5rem;
}

/* .sidebar ul li button i{
  min-width: 3rem;
  border-radius: 0.6rem;
  line-height: 3rem;
  text-align: center;
  font-size:  1.5rem;
} */

/* .sidebar ul li a i:hover{
  min-width: 3rem;
  border-radius: 0.6rem;
  line-height: 3rem;
  text-align: center;
  font-size:  1.5rem;
  background: #EAEAEA ;
  border-radius: 0.6rem;
} */

.sidebar.active ul li a i:hover{
  min-width: 3rem;
  border-radius: 0.6rem;
  line-height: 3rem;
  text-align: center;
  font-size:  1.5rem;
  background: #EAEAEA ;
  border-radius: 0.6rem;
}

/* .sidebar.active ul li button i:hover{
  min-width: 3rem;
  border-radius: 0.6rem;
  line-height: 3rem;
  text-align: center;
  font-size:  1.5rem;
  background: #EAEAEA ;
  border-radius: 0.6rem;
} */

.sidebar.active .firstName_lastName {
  display:none;
} 

.sidebar.active .profile_content img {
  width: 3rem;
  height: 3rem;
} 

.sidebar .profile_content{
  opacity: 1;
  pointer-events: auto;
  color: #383738;
}

.firstName{
  font-size: 1.2rem;
}

.lastName{
  font-size: 1.1rem;
}

.sidebar .profile_content img {
  border-radius: 2rem;
}

.profile {
  margin-top: 1rem;
}

/* .content {
  position: absolute;
  height: 100%;
  width: calc(100% - 22rem);
  left: 22rem;
  color: #383738;
  opacity: 1;
  pointer-events: auto;
  font-family: 'Bariol Regular';
} */

.headContent {
  position: absolute;
  height: 100%;
  width: calc(100% - 22.5rem);
  left: 22.5rem;
  margin-top: 1.5rem;
  color: #383738;
  opacity: 1;
  pointer-events: auto;
  font-family: 'Bariol Serif Bold';
  font-size: 1.3rem;
}

.content {
  position: absolute;
  height: 100%;
  width: calc(100% - 22.5rem);
  left: 22.5rem;
  margin-top: 4rem;
  font-size: 1.1rem;
  color: #383738;
  opacity: 1;
  pointer-events: auto;
  font-family: 'Bariol Serif Bold';
}



/* Table Section */

/* .sidebar-active {
  min-Width: 650px;
  width: 1000px;
  inset: 0px;
  margin-top: 10rem;
} */

/* table.table thead th{
  background-color: red;
}

.dataTables_info {
  font-family: 'Bariol Regular';
  font-size: 0.8rem;
}

.pagination .page-item.active .page-link {
  background-color: #CB002B !important;
}


.pagination {
  font-family: 'Bariol Regular';
  font-size: 0.8rem;
  
}


.row .col-sm-12 {
  top: -45px !important;
}

.myTable {
  margin-left: 22.5rem !important;
  inset: 0px;
  margin-top: 0rem;
  width: 71%;
}

tr td {
  background-color: white;
}

td {
  font-size: 0.78rem !important;
  background-color: #FFFFFF !important;
  font-family: 'Bariol Regular';
  color: #212529;
}

th {
  font-family: 'Bariol Bold';
  color: #212529;
  font-size: 0.78rem !important;
  background-color: #F6F6F6 !important;
  border-color: #F6F6F6;
} */

/* table.table thead th {
  width: 4rem !important;
} */


.myTable {
  margin-left: 22.5rem !important;
  margin-top: -3rem;
  width: 71%;
}

th {
  font-family: 'Bariol Bold';
  color: #212529;
  font-size: 0.78rem !important;
  /* width: 10%; */
}

td {
  font-size: 0.78rem !important;
  background-color: #FFFFFF !important;
  font-family: 'Bariol Regular';
  color: #212529;
  
}


.pagination .page-item.active .page-link {
  background-color: #CB002B !important;
}

.pagination {
  font-family: 'Bariol Regular';
  font-size: 0.8rem;
}

.dataTables_info {
  font-family: 'Bariol Regular';
  font-size: 0.8rem;
}

.table>:not(:last-child)>:last-child>* {
  border-bottom-color: #EAEAEA !important; 
  background-color: #F6F6F6;
  border-left-width: 0;
  border-right-width: 0;
  
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  border-bottom-color: #EAEAEA !important; 
  border-left-width: 0;
  border-right-width: 0;
  opacity: 1;
  
}

.table-striped>tbody>tr:nth-of-type(even)>* {
  border-bottom-color: #EAEAEA !important; 
  border-left-width: 0;
  border-right-width: 0;
}

.table {
  --bs-table-striped-bg: rgba(0, 0, 0, 0.0) !important;
}

tbody + thead{
  display: none;
}



/* table.table th, table.table td {
  padding-top: 0.5rem !important;
  padding-bottom: 0.4rem !important;
} */

/* table td i {
  font-size: 1.1rem !important;
} */



/* .table thead th {
  border-bottom: 2px solid #DEE2E6 !important;
} */

/* .table thead td {
  border-bottom: 1px solid #DEE2E6 !important;
} */

/* .historyFooterContent {
  position: absolute;
  height: 100%;
  width: calc(100% - 22.5rem);
  left: 22.5rem;
  color: #383738;
  opacity: 1;
  pointer-events: auto;
  font-family: 'Bariol Regular';
  top: 48.3rem !important;
  font-size: 0.9rem !important;
} */


/* Font */
.regularB {
  font-family: 'Bariol Regular';
  color: #383738 !important;
}

.boldB {
  font-family: 'Bariol Bold';
  color: #383738 !important;
}

/* Login */

.login_logo {
  width: 14rem;
  height: 8.5rem;
}

.login_container {
  background-image: url(./assets/login-bg.jpg);
  padding: 10%;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: 100vw 100vh;
}

.login_form {
  position: relative;
  width: 26.7rem;
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.72);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3.5rem;
  padding-top: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 1px 5px rgb(218, 218, 218);
  left: 20rem;
  top: auto;
  right: auto;
  bottom: auto;
}
::placeholder {
  color: #9E9EA5;
}
.login_form input {
  border: 0.075rem solid #EBE9F1;
  width: 20rem;
  border-radius: 0.5rem;
  font-family: 'Bariol Regular';
  padding: 0.4rem 0.7rem;
  margin: 0 auto 0.5rem auto;
  display: block;
  text-align: center;
  font-size: 1rem;
  background-color: white;
}

.login_form button {
  border: 0rem solid rgba(252, 252, 252, 0.7);
  width: 20rem;
  border-radius: 0.5rem;
  font-family: 'Bariol Regular';
  padding: 0.6rem 0.7rem;
  margin: 1rem auto 0.5rem auto;
  display: block;
  text-align: center;
  font-size: 1rem;
  color: white;
  border-color: #CB002B;
  background: #cb002b;
  opacity: 1;
}
.login_wrong {
  color: red;
}


/* Search Room */



/*
Date Filter Component 
*/
.date-drop-down .react-datepicker__input-container{
  left: 22.5rem;
  font-family: Bariol Regular ;
  font-size: 0.8rem;
  top: 0rem;
  box-shadow: 0;
  cursor: text;
  
  /* border-radius: 5; */
}

.date-drop-down .react-datepicker__input-container input{
  width: 10rem;
  top: -4.8rem;
  /* height: 1.9rem; */
  height: 2.4rem;
  border-radius: 5; 
  color: rgba(0, 0, 0);
  padding-left: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.date-drop-down .react-datepicker {
  left: 22.5rem;
}

.date-drop-down .react-datepicker__triangle {
  left: -13rem !important;
}

.date-drop-down .react-datepicker__month-container {
  left: 22.5rem;
  font-family: Bariol Regular ;
}


/* .react-datepicker-ignore-onclickoutside{
  width: 10rem;
} */

/* .react-datepicker{

} */

.search_container_date {
  font-size: 0.9rem;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 22.5rem;
}
.search_container_status {
  font-size: 0.9rem;
  display: block;
  inset: 0px;
  margin-top: -1.5rem;
  margin-left: 34rem;
}

::placeholder {
  color: #808080;
  margin-left: 2rem;
}


/* .customDropDown{
  width: 15%;
} */
/* 



.css-1s2u09g-control {
  top: 5rem;
  left: 22.5rem;
  
} */



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Bariol Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Regular'), url(./fonts/bariol_regular-webfont.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Bariol Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Regular Italic'), url(./fonts/bariol_regular_italic-webfont.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Bariol Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Thin Italic'), url(./fonts/bariol_thin_italic-webfont.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Bariol Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Thin'), url(./fonts/bariol_thin-webfont.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Bariol Light';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Light'), url(./fonts/bariol_light-webfont.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Bariol Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Light Italic'), url(./fonts/bariol_light_italic-webfont.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Bariol Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Bold'), url(./fonts/bariol_bold-webfont.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Bariol Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Bold Italic'), url(./fonts/bariol_bold_italic-webfont.woff) format('woff');
  }

  @font-face {
    font-family: 'Bariol Serif Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Serif Regular'), url(./fonts/Bariol_Serif_Regular.otf) format('otf');
    }

  @font-face {
    font-family: 'Bariol Serif Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Serif Bold'), url(./fonts/BariolSerifBold.woff) format('woff');
    }

    /* button */
    .search_button {
      position: relative;
      left: 45.5rem;
      /* top: -4.8rem;
      height: 1.9rem; */

      top: -4.8rem;
      height: 2.4rem;
      font-size: 1rem;
      background-color: #CB002B;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      text-align: center;
      padding: 5px 20px;

      font-family: 'Bariol Regular';
      font-size: 0.9rem;
      bottom: 0;
      width: 6rem;
    }

    /* searchbar */

    /* .has-search .form-control {
      width: 20rem;
      font-family: 'Bariol Regular';
      padding-left: 2.375rem;
      
    }

    .has-search {
      margin-left: 65.1rem;
      margin-top: 1.5rem;
    
    }
    .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa;
  } */

  .customSearchBar {
    margin-left: 65.1rem;
    margin-top: 1.5rem;
    /* display: flex; 
    align-items: center; 
    justify-content: flex-end;
    flex-direction: column; */
  }

  .customSearchBar input {
    width: 20rem;
    font-family: 'Bariol Regular';
    padding-left: 2.375rem;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 2.2rem;
    font-size: 0.8rem;
  }

 




  